.out-message {
  margin: 0;
  max-width: 45%;
  width: fit-content;
  padding: 11px 11px 5px 11px;
  box-sizing: border-box;
  background: var(--out-msg-backgr);
  align-self: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &__text-wrapper {
    min-width: 114px;
    color: var(--msgs-text);
    font: normal 500 12px/1.2 'Inter', sans-serif;
  }

  &__message-state {
    color: var(--service-text);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0 4px;

    & svg {
      display: block;
      padding: 0 0 1px 0;
    }
  }

  &__timestamp {
    font: normal 500 9px/1 'Inter', sans-serif;
  }
}
