<div class="msg-img">
  <img class="msg-img-intern msg-img-intern_in" src="{{ imgSrc }}" alt="{{ imgAlt }}">
  <div class="msg-img__timestamp-wrapper">
    <span class="msg-img__timestamp">{{ imgTimeStamp }}</span>
  </div>
</div>
