<div class="msg-img">
  <img class="msgImg msgImg_in" src="{{img.imgSrc}}" alt="{{img.imgAlt}}">
  <div class="msg-img__timestamp-wrapper">
    <span class="msg-img__timestamp">{{ imgTimeStamp }}</span>
  </div>
</div>
