.texting-form {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 32px;

  &__input-fset {
    flex: 1 1 1px;
    margin: 0;
    padding: 0 10px;
    border: none;
  }

  &__btn-fset {
    flex: 0 0 28px;
    margin: 0;
    padding: 0;
    border: none;

    @mixin flex-col-center;
  }
}
