<div class="user-settings">
  <div class="user-settings__lside">
    {{{ btnBack }}}
  </div>
  <div class="user-settings__settings">
    {{{ userAvatar }}}
    {{{ userSettingsForm }}}
  </div>
</div>
