<div class="user-settings">
  <div class="user-settings__lside">
    {{> btnBackPart }}
  </div>
  <div class="user-settings__settings">
    {{> userAvatarPart }}
    {{> userSettingsFormPart }}
  </div>
</div>
