<div>
  <input class="form_input" type="text" data-evt-focusin="focusinHandler" data-evt-focusout="focusoutHandler"></input>
  <button data-evt-click="btnFirstClickHandler">{{ btnFirstCaption }}</button>
  <button data-evt-click="btnSecClickHandler">{{ btnSecCaption }}</button>
  <span class="form_span" data-evt-mouseover="mouseoverHandler">{{ inputText }}</span>
</div>
