<form class="sign-up-form" data-evt-submit="handleSubmit">
  <p class="sign-up-form__title">Регистрация</p>
  <fieldset class="sign-up-form__inputs-fset">
    {{{ inputs }}}
  </fieldset>
  <fieldset class="sign-up-form__btn-fset">
    {{{ button }}}
    <a href="/sign-in" class="sign-up-form__enter-link">Войти</p>
  </fieldset>
</form>
