<form class="sign-in-form">
  <p class="sign-in-form__title">Вход</p>
  <fieldset class="sign-in-form__inputs-fset">
    {{{ loginSignInput }}}
    {{{ passwordSignInput }}}
  </fieldset>
  <fieldset class="sign-in-form__btn-fset">
    {{{ button }}}
    <a href="/sign-up" class="sign-in-form__enter-link">Зарегистрироваться</p>
  </fieldset>
</form>
