.sign-in-form {
  width: 340px;
  border-radius: 12px;
  background: var(--default-white);

  &__title {
    padding: 50px 0 40px 0;
    font: normal 500 20px/1 'Inter', sans-serif;
    color: var(--chats-text);
    text-align: center;
  }

  &__inputs-fset {
    padding: 0 30px;
    margin: 0;
    border: none;
  }

  &__inpt-box {
    width: 100%;
    height: 49px;
    @mixin flex column, , flex-start, flex-start;
    padding: 0 0 12px 0;

    &:last-child {
      padding: 0;
    }
  }

  &__lbl {
    font: normal 500 9px/1 'Inter', sans-serif;
    color: var(--chats-text);
  }

  &__inpt {
    box-sizing: border-box;
    margin: 0 0 4px 0;
    padding: 0;
    width: 100%;
    height: 28px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--default-blue);
    font: normal 500 13px/1 'Inter', sans-serif;
    outline: none;

    &_err {
      border-bottom: 1px solid var(--default-red);
    }

    &_correct {
      border-bottom: 1px solid var(--default-green);
    }
    
    &_pass {
      color: var(--default-red);
    }

    &_rep-pass {
      color: var(--default-red);
    }
  }

  &__error {
    color: var(--default-red); 
    font: normal normal 8px/1 'Inter', sans-serif;
  }

  &__btn-fset {
    padding: 47px 0 30px 0;
    margin: 0;
    border: none;
    @mixin flex column, , flex-start, center;
    gap: 14px 0;
  }

  &__enter-link {
    margin: 0;
    color: var(--default-blue);
    font: normal normal 11px/1 'Inter', sans-serif;
    transition: color .2s ease-in;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: var(--in-msg-backgr);
    }
  }

  &__btn {
    width: 280px;
    height: 37px;
    background: var(--default-blue);
    border: none;
    border-radius: 6px;
    color: var(--msgs-text);
    font: normal 500 13px/1 'Inter', sans-serif;
    transition: background .2s ease-in;

    &:hover {
      cursor: pointer;
      background: var(--in-msg-backgr);
    }
  }
}
