<div class="chats">
  <ul class="chats__list">
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
    {{> chatWidgetPart }}
  </ul>
</div>
