<nav class="index-nav">
  <ul class="index-nav__list">
    <li class="index-nav__list-item">
      <a href="/login">Login</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/register">Register</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/chat">Chat</a>
    </li>
  </ul>
</nav>
