<div class="index-main">
  <h1 class="index-h1">Чат лайчат</h1>
  <div class="main-pic-wrapper">
    <img src={{imgSrc}} alt={{imgAlt}} class="main-pic"/>
  </div>
  <nav class="index-nav">
    <ul class="index-nav__list">
      <li class="index-nav__list-item">
        <a href="/sign-in">Войти</a>
      </li>
      <p class="index-nav__or">или</p>
      <li class="index-nav__list-item">
        <a href="/sign-up">Зарегистрироваться</a>
      </li>
      </li>
    </ul>
  </nav>
</div>
