<nav class="index-nav">
  <ul class="index-nav__list">
    <li class="index-nav__list-item">
      <a href="/sign-in">Sign in</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/sign-up">Sign up</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/chat">Chat</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/user-settings">User</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/404">404</a>
    </li>
    <li class="index-nav__list-item">
      <a href="/500">500</a>
    </li>
  </ul>
</nav>
