<div class="chat-settings">
  <p class="chat-settings__item">В архив</p>
  <p class="chat-settings__item">Без звука</p>
  <p class="chat-settings__item">Закрепить чат</p>
  <p class="chat-settings__item">Удалить чат</p>
  <p class="chat-settings__item">Отменить прочтение</p>
</div>
