.cur-user-wrapper {
  @mixin flex row, , flex-start, center;
  gap: 0 10px;
  width: fit-content;

  &__avatar-wrapper {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: var(--default-white);
  }

  &__name {
    font: normal 500 13px/1.2 'Inter', sans-serif;
    color: var(--default-white);
  }
}
