<div class="in-message">
  <div class="in-message__text-wrapper">
      {{ log "context" this }}
    {{#each inMsgText}}
      <p class="in-message__text">{{this}}</p>
    {{/each}}
  </div>
  <div class="in-message__message-state">
    <span class="in-message__timestamp">{{ inTimeStamp }}</span>
  </div>
</div>
