@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../../static/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  src: url('../../static/fonts/Inter-Bold.ttf') format('truetype');
}
