.user-avatar {
  width: 510px;
  padding: 60px 0 97px 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 287px;

  &__box {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background: var(--default-white);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: background .2s ease-in;

    &:hover {
      cursor: pointer;
      background: var(--msgs-text);
    }
  }
}
