<div class="out-message">
  <div class="out-message__text-wrapper">
  </div>
  <div class="out-message__message-state">
    <div class="out-message__status">
      <span>vv</span>
    </div>
    <div class="out-message__timestamp">
      <span>12:34</span>
    </div>
  </div>
</div>
