<div class="user-settings-form" data-evt-submit="handleSubmit">
  <form class="user-settings-form__form">
    <fieldset class="user-settings-form__inputs-fset">
      {{{ inputs }}}
    </fieldset>
    <fieldset class="user-settings-form__btn-fset">
      {{{ button }}}
    </fieldset>
  </form>
</div>
