<li class="chats__item chat-widget">
  <div class="chats__widget-body chat-widget__body">
    <div class="chat-widget__pic-box">
      <div class="chat-widget__pic">
      </div>
    </div>
    <div class="chat-widget__name-timestamp">
      <p class="chat-widget__name">{{ name }}</p>
      <p class="chat-widget__timestamp">{{ timestamp }}</p>
    </div>
    <div class="chat-widget__text-area">
      <p class="chat-widget__text">{{ text }}</p>
    </div>
    <div class="chat-widget__unreads">
      {{#if unreads}}
        <div class="chat-widget__unreads-box">
          <span class="chat-widget__unreads-counter">{{ unreads }}</span>
        </div>
      {{/if}}
    </div>
  </div>
</li>
