<div class="in-message">
  <div class="in-message__text-wrapper">
    {{ inMsgText }}
  </div>
  <div class="in-message__message-state">
    <span class="in-message__timestamp">{{ inTimeStamp }}</span>
  </div>
</div>
