.get-profile {
  box-sizing: border-box;
  flex: 0 0 54px;
  width: 100%;
  padding: 0 10px;
  @mixin flex column, , center, flex-end; 

  &__btn {
    background: none;
    border: none;
    padding: 0;
    @mixin flex row, , flex-end, center;
    gap: 0 8px;

    &:hover {
      cursor: pointer;
      & .get-profile__btn-caption {
        color: var(--msgs-text);
      }

      & svg path {
        stroke: var(--msgs-text);
      }
    }

    & svg path {
      transition: stroke .2s ease-in;
    }
  }

  &__btn-caption {
    color: var(--chats-text);
    transition: color .2s ease-in;
  }
}
