<button class="btn-back" type="button">
  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.4" y="5.59995" width="10.2" height="0.8" fill="#031F30" stroke="#E0DDDD" stroke-width="0.8"/>
    <path d="M7 1L11 6L7 11" stroke="#E0DDDD" stroke-width="1.6"/>
  </svg>
</button>
